.App {
  text-align: center;

  position: relative;

min-height: 100vh;
height: 100%;
/* max-height: max-content; */

}

/* ///////////////////////////// B A C K D R O P ////////////////////////// */


.fog{
  background: url(./background/m1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  z-index: -1;
}

.back1, .back2{

  background-size: cover;
  background-repeat: repeat;

  height: 100%;
  width: 300%;

  transform-origin: -120vw;

}

.back1{
  background: url(./background/fog1.png);
  animation: fog 30s linear infinite;
}

.back2{
  background: url(./background/fog1.png);
  animation: fog 30s linear infinite;
}

@keyframes fog {
  from {
    transform: translate3d(0,0,0);
  }
  to{
    transform: translate3d(-200vw,0,0);
  }
}


